.background {
  viewport-fill: red;
}

#clockLabel {
  font-size: 100;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 60%;
  fill: white;
}

#clockShadow {
  font-size: 100;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 50%+5;
  y: 62%;
  fill: black;
}

#batteryLabel {
  font-size: 20;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: start;
  x: 5%;
  y: 8%;
  fill: green;
}

#stepsLabel {
  font-size: 25;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 70%;
  y: 80%;
  fill: white;
}

#heartrateLabel {
  font-size: 25;
  font-family: Colfax-Medium;
  text-length: 32;
  text-anchor: middle;
  x: 25%;
  y: 80%;
  fill: white;
}

